In [1]:
print('hello saran!')

In [2]:
print('தமிழ்நாடு')

In [3]:
10-1

In [4]:
10%3

In [5]:
1/10

In [6]:
int(3/2)

In [7]:
4 ** 3  #power

64

In [8]:
0.1+0.2-0.30000000000000004

0.0

In [9]:
divmod(2**56, 10)

(7205759403792793, 6)

In [10]:
a = 5
print(a)
print(a+a)

5
10

In [11]:
typea = type(a)
typea == type(1)

True

In [29]:
name = "Sarunya Durai's cat"
state = "'தமிழ்நாடு'"
print(name, state, len(state));
print(state[0], state[-2], state[-3], state[3]);
print(state[1:6]);
print(state[:6]);
print(name[::2]);
print(state[1::2]);
print(state[::-1], name[::-1]);
print(state[::1]);

Sarunya Durai's cat 'தமிழ்நாடு' 11
' ு ட ி
தமிழ்
'தமிழ்
SrnaDrisct
தி்ாு
'ுடாந்ழிமத' tac s'iaruD aynuraS
'தமிழ்நாடு'

In [43]:
name=name[:-1]+'s'
name = name + '\n dogs';
print(name*3, len(name*3))
name.upper()
name.split("\n")

Sarunya Durai's cas dogs dogs dogs dogs dogs dogs dogs dogs dogs
 dogs
 dogsSarunya Durai's cas dogs dogs dogs dogs dogs dogs dogs dogs dogs
 dogs
 dogsSarunya Durai's cas dogs dogs dogs dogs dogs dogs dogs dogs dogs
 dogs
 dogs 228

["Sarunya Durai's cas dogs dogs dogs dogs dogs dogs dogs dogs dogs",
 ' dogs',
 ' dogs']

In [48]:
"My sate is {0}".format(state)
"My sate is {state}".format(state=state)

"My sate is 'தமிழ்நாடு'"

In [68]:
result = 11/50989
"The result is {r:.<50.6f}".format(r=result)

'The result is 0.000216..........................................'

In [64]:
f"The result is {result}"

'The result is 0.0002157328051148287'

In [8]:
my_list = [1,2,3,5,'sarunya', 9.897]
print(len(my_list))
print(my_list[0])
print(my_list[1:])
print(my_list[:5])
print(my_list[:5])
print(my_list[::2])

6
1
[2, 3, 5, 'sarunya', 9.897]
[1, 2, 3, 5, 'sarunya']
[1, 2, 3, 5, 'sarunya']
[1, 3, 'sarunya']

In [27]:
my_list2=[1, 'renu']
my_list + my_list2

[1, 2, 3, 5, 'sarunya', 9.897, 1, 'renu']

In [16]:
print(my_list2[1][1])
my_list2[1][1] = 'i'

e

TypeError: 'str' object does not support item assignment

In [29]:
my_list2[1] = 'rinu'
print(my_list2)
my_list2.append('saru')
print(my_list2)

[1, 'rinu', 'saru']
[1, 'rinu', 'saru', 'saru']

In [30]:
print(my_list2)
print(my_list2.pop())
print(my_list2)
print(my_list2.pop(1))
print(my_list2)

[1, 'rinu', 'saru', 'saru']
saru
[1, 'rinu', 'saru']
rinu
[1, 'saru']

In [34]:
my_list = ['saru', 'santhosh', 'sandhiya', 'salang', 'angry', 'renu', 'lani', 'ila', 'nila']
print(my_list)
my_list.sort()
print(my_list)
my_list.reverse()
print(my_list)

['saru', 'santhosh', 'sandhiya', 'salang', 'angry', 'renu', 'lani', 'ila', 'nila']
['angry', 'ila', 'lani', 'nila', 'renu', 'salang', 'sandhiya', 'santhosh', 'saru']
['saru', 'santhosh', 'sandhiya', 'salang', 'renu', 'nila', 'lani', 'ila', 'angry']